DO  DECLARE r RECORD; BEGIN FOR r IN SELECT tablename FROM pg_policies WHERE policyname = 'tenant_isolation_v5' AND schemaname = 'public' LOOP EXECUTE format('ALTER POLICY \
tenant_isolation_v5\ ON public.%I USING (tenant_id = auth_helpers.get_auth_tenant() OR auth_helpers.is_saas_admin()) WITH CHECK (tenant_id = auth_helpers.get_auth_tenant() OR auth_helpers.is_saas_admin())', r.tablename); END LOOP; END ;
